# AutoHotkey specific files
*.ahk.bak
*.exe
*.dll
*.zip
compiled/

# Debug files
error_log.txt
debug.log
*.log

# VS Code specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# User-specific files
**/settings.ini
**/config.ini
**/user.ini
**/secrets.ahk

# OS specific files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Temp files
*.tmp
*.temp
~*
